<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F0F0F0;
    }
</style>
<body>
    <div id="container">

    </div>
</body>

<script src="/scripts/konva/konva.js"></script>
<script src="/scripts/tilesvalue.js"></script>
<script src="/scripts/classes.js"></script>

<script>

    //configuration

   
var stage = new Konva.Stage({
    container: 'container',
    width: width,
    height: height
});



var layer = new Konva.Layer();
var dragLayer = new Konva.Layer();
var board = new Board();

    AddTileGroupBot(layer,stage);
    AddTileGroupTop(layer,stage);
    AddTileGroupLeft(layer,stage);
    AddTileGroupRight(layer,stage);
  


stage.add(layer);
stage.add(dragLayer);

// bind stage handlers
stage.on('mousedown', function(evt) {
    var shape = evt.target;

if(!shape.attrs.draggable)
    return;

if (board.userCanPlay)
    shape.attrs.isDouble() ? CreateNextcontainer(90) : CreateNextcontainer();

    
            
    shape.moveTo(dragLayer);
    stage.draw();
    // restart drag and drop in the new layer
    shape.startDrag();
});

stage.on('mouseup', function(evt) {

    var shape = evt.target;
    if(!shape.attrs.draggable)
        return;

    
    shape.moveTo(layer);

    stage.draw();


});

stage.on('dragstart', function(evt) {
    var shape = evt.target;
   
    if(!shape.attrs.draggable)
    return;
    


    if (tween) {
        tween.pause();
    }
    shape.setAttrs({
        shadowOffset: {
            x: 15,
            y: 15
        },
        scale: {
            x: shape.getAttr('startScale') * 1.2,
            y: shape.getAttr('startScale') * 1.2
        }
    });
});

stage.on('dragend', function(evt) {
    var shape = evt.target;

    if (ActualTileContainer) {
        shape.position(ActualTileContainer.position());
        shape.attrs.initialPosition=shape.position();
        shape.rotation(ActualTileContainer.rotation());
        shape.attrs.draggable = false;
        ActualTileContainer.destroy();
        ActualTileContainer = null;
    } else {
        shape.position(shape.attrs.initialPosition);
    }
  

    tween = new Konva.Tween({
        node: shape,
        duration: 0.5,
        easing: Konva.Easings.ElasticEaseOut,
        scaleX: shape.getAttr('startScale'),
        scaleY: shape.getAttr('startScale'),
        shadowOffsetX: 5,
        shadowOffsetY: 5
    });

    tween.play();
    board.playedTiles.push(shape);
    board.setValues(shape.attrs.values.head, shape.attrs.values.head)
   // board.userCanPlay = false;

   


});









</script>
</html>
