<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F0F0F0;
    }
</style>
<body>
    <div id="container">

    </div>
</body>

<script src="/scripts/konva/konva.js"></script>
<script src="/scripts/tilesvalue.js"></script>
<script src="/scripts/classes.js"></script>

<script>

    //configuration

   
var stage = new Konva.Stage({
    container: 'container',
    width: width,
    height: height
});



var layer = new Konva.Layer();
var dragLayer = new Konva.Layer();
var board = new Board();

    AddTileGroupBot(layer,stage);
    AddTileGroupTop(layer,stage);
    AddTileGroupLeft(layer,stage);
    AddTileGroupRight(layer,stage);
  


stage.add(layer);
stage.add(dragLayer);


dragLayer.on('dragmove', function (e) {
            var target = e.target;
            var targetRect = e.target.getClientRect();
            dragLayer.children.each(function (group) {
                // do not check intersection with itself
                if (group === target || !group.attrs.tipo) {
                    return;
                }
                if (haveIntersection(group.getClientRect(), targetRect)) {
                   if (group.attrs.value==target.attrs.values.head || group.attrs.value==target.attrs.values.tail || group.attrs.value==null ){

                    group.stroke('yellow');
                   

                   }else{
                    group.stroke('red');
                   }  
                   ActualTileContainer=group;
                } else {
                    group.stroke('green');
                   // ActualTileContainer=null;
                }
                // do not need to call layer.draw() here
                // because it will be called by dragmove action
            });
        })


// bind stage handlers
stage.on('mousedown', function(evt) {
    var shape = evt.target;

if(!shape.attrs.draggable)
    return;

   
    
            
    shape.moveTo(dragLayer);
    stage.draw();
    // restart drag and drop in the new layer
    shape.startDrag();
});

stage.on('mouseup', function(evt) {




    var shape = evt.target;
    
    
        var errors=dragLayer.children.filter(x=>x.attrs.tipo);
        errors.forEach(x=>{
        x.destroy();
    });
    



    if(!shape.attrs.draggable)
        return;

    
    
    //shape.moveTo(layer);

    stage.draw();


});

stage.on('dragstart', function(evt) {
    var shape = evt.target;
   
    if(!shape.attrs.draggable)
    return;
    
    
    if(shape.attrs.draggable){
    if (board.userCanPlay && board.playedTiles.length==0)
    shape.attrs.isDouble() ? CreateNextcontainer(90) : CreateNextcontainer();
    else
    CreateNextContainerByTiles(board);
    }
    

    if (tween) {
        tween.pause();
    }
    shape.setAttrs({
        shadowOffset: {
            x: 15,
            y: 15
        },
        scale: {
            x: shape.getAttr('startScale') * 1.2,
            y: shape.getAttr('startScale') * 1.2
        }
    });
});

stage.on('dragend', function(evt) {
    var shape = evt.target;

    if (ActualTileContainer && shape.attrs.draggable && (ActualTileContainer.attrs.value==shape.attrs.values.head || ActualTileContainer.attrs.value==shape.attrs.values.tail || ActualTileContainer.attrs.value==null )) {
        shape.position(ActualTileContainer.position());
        shape.attrs.initialPosition=shape.position();
        shape.rotation(ActualTileContainer.rotation());
        shape.attrs.draggable = false;
        board.playedTiles.push(shape);  
        board.setValues(shape.attrs.values.head, shape.attrs.values.tail);
        var fichapadre=board.playedTiles.filter(x=>x.attrs.values.id==ActualTileContainer.attrs.tileidx);
        if(fichapadre.length>0)
        if(ActualTileContainer.attrs.isHead){
            fichapadre[0].attrs.usedHead=true;
            shape.attrs.usedTail=true;
        } else{
            fichapadre[0].attrs.usedTail=true;
            shape.attrs.usedHead=true;
        }
       // ActualTileContainer.destroy();
    } else {
        shape.position(shape.attrs.initialPosition);
    }
  

    tween = new Konva.Tween({
        node: shape,
        duration: 0.5,
        easing: Konva.Easings.ElasticEaseOut,
        scaleX: shape.getAttr('startScale'),
        scaleY: shape.getAttr('startScale'),
        shadowOffsetX: 5,
        shadowOffsetY: 5
    });

    tween.play();
   

   


});









</script>
</html>
